@import "tailwindcss";

@theme {
  --color-background: #0E1117;
  --color-foreground: #FFFFFF;
  --color-border: rgba(255, 255, 255, 0.2);
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
